.AccordionSection{

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 100vh;
	background: black;
	border-bottom: 8px solid #222;
}

.Container {
  box-shadow: 2px 10px 35px 1px rgba(153, 153, 153, 0.3);
	justify-content: center;
	width: 70%;
}

.Wrap {
	background: #272727;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.Dropdown {
  background: #1c1c1c;
  color: #00ffb9;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #00ffb9;
  border-top: 1px solid #00ffb9;
}

h3 {
	padding: 0.5rem;
	font-weight: normal;
	text-align: left;
}
p {
	max-width: 50ch;
	margin-top: auto;
}
h1 { 
	text-align: center;
	font-size: 2rem !important;
	margin-bottom:  53px !important;
}